/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a{
    text-decoration: none;
}

html{
    background-color:#ffffff;    
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:15px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:130px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-170px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:0px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.login-form{
    text-align: center;
}

.table{
    display: table;
    margin: auto;
    text-align: left;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
    padding:5px;
}

.text{
    display: block;
    width: 100%;
    max-width: 250px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 30px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.number{
    text-align: center;
    padding:20px 5px;
    margin-bottom: 30px;
    font-size: 50px;
}

.button{
    display: block;
    width: 100%;
    max-width: 250px;
    border-radius:5px;
    border:1px solid #63b4fb;
    padding: 10px;
    margin:10px auto 0; 
    font-size: 30px;
    font-weight: 600;
    background-color: #63b4fb;
    color:#fff;
    text-align: center;
    box-sizing: border-box;
}

.save{
    padding: 20px;  
    font-size: 30px;  
    font-weight: 600;
}

.history{
    display: inline-block;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
}

.logout{
    display: inline-block;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.main--title{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top:30px;
    font-size: 22px;
    font-weight: 600;
}

.success{
    color:#259601;
    font-weight: 600;
    margin: 10px auto;
}

.error{
    color:#cc0000;
    font-weight: 600;
    margin: 10px auto;
}

.add-number-form{
    width: 100%;
    position: fixed;
    top: 50%;
    left: 0;
    text-align: center;

    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}